:root {
  /*primary colors*/
  --dark-blue: hsl(233, 47%, 7%);
  --desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /*Neutral colors*/
  --white: hsl(0, 0%, 100%);
  --transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --transparent-white-headings: hsla(0, 0%, 100%, 0.6);

  --f-inter: "Inter", sans-serif;
  --f-lexen: "Lexend Deca", sans-serif;
}
/*css reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: var(--desaturated-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  border-radius: 0.5rem;
}

.image {
  min-width: 530px;
  min-height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(/images/image-header-desktop.jpg);
  border-radius: 0 0.5rem 0.5rem 0;
}
.overlay {
  min-width: 530px;
  min-height: 375px;
  background-color: var(--soft-violet);
  mix-blend-mode: multiply;
}
.accent {
  color: var(--soft-violet);
}

h1 {
  color: var(--white);
  font-family: var(--f-inter);
}

p {
  color: var(--transparent-white-paragraph);
  font-size: 15px;
  font-family: var(--f-inter);
}
.text {
  padding: 10vh;
}

.stats {
  color: var(--transparent-white-headings);
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column;
    margin: 10rem 5rem;
  }

  .image {
    order: 1;
    min-width: 530px;
    min-height: 375px;
    margin-top: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(/images/image-header-desktop.jpg);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .text {
    order: 2;
  }
  .info {
    text-align: center;
  }
  .stats {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.stats h2 {
  color: var(--white);
  font-family: var(--f-inter);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
